<%- include('../partials/client-header') %>

<h2>Welcome to the Client Homepage!</h2>
<p>This is your public-facing website for "Matériels & Logiciels", "Réseaux", etc.</p>

<%- include('../partials/footer') %>