<%- include('../partials/client-header') %>

<h2>Our Services</h2>
<ul>
    <li>Matériels & Logiciels</li>
    <li>Réseaux & Communication</li>
    <li>Formation & Accompagnement</li>
</ul>

<%- include('../partials/footer') %>