<%- include('../partials/dashboard-header') %>

<h2>Manage "Matériels & Logiciels"</h2>
<p>This is where you will add/edit/delete products for "Vente & Installation".</p>

<%- include('../partials/footer') %>