<%- include('../partials/dashboard-header', { title: title, user: user }) %>

<div class="page-container">
    <h1>Support Tickets</h1>
    <p>This is where you will manage customer support tickets.</p>
    
    </div>
<%- include('../partials/footer') %>