</main> <footer class="client-footer">
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> HP TECHNOLOGY.
All rights reserved.</p>
            </div>
    </footer>

</body>
</html>